@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  margin: auto;
}

.App {
  position: relative;
  font-size: 20px;
  width: 100%;
  background-color: black;
  margin: auto;
  /* font-weight: bold; */
}

/*----- navbar component----- */
.navbar {
  background-color: #222222;
  padding: 1% 16%;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar__logo {
  width: 150px;
}

/*-------- header component------- */

.header {
  color: white;
  position: relative;
  background-image: url("./assets/photo-couch.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 101vh;
}

.header__content {
  position: absolute;
  width: 80%;
  bottom: 16%;
  left: 2%;
  padding-left: 15%;
}

.header__content p {
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 15px;
  width: 48%;
  letter-spacing: 0.5px;
}

.header .header__content h1 {
  font-weight: 300;
}

.header .header__content h4 {
  font-weight: 300;
  margin-bottom: 2%;
}

.header .header__content button {
  padding: 8px 25px;
  border-radius: 120px;
  outline: none;
  background-color: #47e4c2;
  border: none;
  font-weight: bold;
  transition: all 0.8s;
}

.header .header__content button:hover,
.header .header__content button:active,
.header .header__content button:focus {
  cursor: pointer;
  background-color: #247966;
}

/*------------how it works-------- */

/* #F2F1EF */

.how-it-works {
  background-color: #f2f1ef;
  color: #222222;
  text-align: center;
  padding: 2% 0% 6%;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  margin-top: 2%;
}

.grid-col {
  width: 25%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.card h1 {
  font-weight: 400;
  padding-bottom: 5px;
}

.card hr {
  width: 45px;
  border-bottom: 2px solid #47e4c2;
  margin: auto;
}

.card h6 {
  margin-top: 12px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.card p {
  font-size: 15px;
}

@media only screen and (max-width: 900px) {
  .grid-row {
    width: 80%;
  }

  .header__content {
    width: 90%;
    padding-left: 10%;
  }

  .header__content p {
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 15px;
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .header__content {
    width: 100%;
    padding-left: 5%;
  }

  .header__content p {
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 15px;
    width: 70%;
  }

  .how-it-works {
    padding-top: 10%;
  }
  .grid-col {
    width: 50%;
    margin: 20px 0;
  }
  .grid-row {
    width: 90%;
  }

  .card h1 {
    font-size: 30px;
  }

  .card h6 {
    font-size: 14px;
  }
  .card p {
    font-size: 14px;
  }
}
